@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;500;600;700;800;900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* font-family: 'Lexend', sans-serif;
font-family: 'PT Sans', sans-serif; */

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	/* outline: 1px solid red; */
}

/* Number input in Profile's Page */
#number_input_container {
	position: relative;
}

#number_input_container > input {
	padding-left: 4.5em;
}
/*  */

/* Remove up and down arrows in form input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}
/*  */

/* Styling the Vertical scroller */
body::-webkit-scrollbar {
	width: 0.5em;
}

body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
	background-color: #14df96;
	outline: 1px solid #6a6a6a;
}

/* Horizontal Scroll Bar */
::-webkit-scrollbar {
	/* width: 1px; */
	height: 10px;
}

::-webkit-scrollbar-thumb {
	background: #14df96;
	border-radius: 30px;
}
/**/

html,
body {
	overflow-x: hidden;
	font-family: 'Lexend', sans-serif;
}

body {
	color: black;
	background-color: white;
}

a {
	color: inherit;
	text-decoration: none;
}

/* Pagination style for testimonial page */
.image3-swiper-pagination {
	cursor: pointer;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-left: 0px;
	color: white;
	font-size: 2px;
	background-color: transparent;
	font-size: 15px;
}
.swiper-pagination-bullet {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	margin-left: 10px;
	font-size: 15px;
	color: transparent;
	width: 15px;
	height: 15px;
	background-color: #c9c8c8;
}
.swiper-pagination-bullet-active {
	color: transparent;
	width: 15px;
	height: 15px;
	border-radius: 100%;
	font-size: 15px;
	background-color: #717171;
}

/* background: conic-gradient(
		from 180deg at 50% 50%,
		#14df96 0deg,
		#003963 0.04deg,
		#11bb7d 360deg
	); */

.Primary-Button {
	background-color: #000000;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: white;
	padding: 15px 45px;
	position: relative;
	border: 0;
	z-index: 5;
	font-family: 'Lexend', 'Sans Serif';
	font-size: 0.85rem;
	font-weight: 400;
	cursor: pointer;
}

.Primary-Button::before {
	position: absolute;
	content: '';
	bottom: 0;
	left: 0;
	background: #808080;
	height: 5px;
	width: 0;
	z-index: -2;
	transition: width 0.5s ease-in-out;
}

.Primary-Button:hover::before {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	content: '';
	bottom: 0;
	left: 0;
	color: white;
	background-color: #99fae5;
	height: 5px;
	width: 100%;
	z-index: -2;
}

.Secondary-Button {
	background: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: rgb(161, 161, 161);
	padding: 15px 45px;
	position: relative;
	border: 0;
	font-family: 'Lexend', 'Sans Serif';
	font-size: 0.85rem;
	border: 3px solid rgb(161, 161, 161);
	transition: all 0.5s ease-in-out;
	cursor: pointer;
}

.Secondary-Button:hover {
	color: #000000;
	border-color: #000000;
}

.Secondary-Button::after {
	position: absolute;
	bottom: 0;
	left: 0;
	content: '';
	height: 5px;
	width: 0;
	z-index: 5;
	background-color: rgb(161, 161, 161);
	transition: width 0.5s ease-in-out;
}

.Secondary-Button:hover::after {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	content: '';
	color: white;
	width: 100%;
	background-color: #000000;
}

.filter-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background: rgba(169, 255, 224, 0.5);
	backdrop-filter: blur(25px);
	-webkit-backdrop-filter: blur(25px);
}

.filter-form {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 20px 40px;
	row-gap: 50;
	width: 100%;
}

.filter-form input,
select {
	padding: 5px;
}

.filter-form button {
	padding: 5px 20px;
	background-color: black;
	color: white;
	border: none;
	border-radius: 5px;
}

.filter-form select,
button {
	margin-right: 20px;
}

.filter-form input:not(last-child) {
	margin-right: 20px;
}

.date-picker {
	padding: 5px;
	margin-right: 20px;
}

@media (max-width: 950px) {
	.filter-container {
		overflow-x: scroll;
	}
}

/* meeting date modal carousel navigation */
.image5-swiper-button-prev {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 25px;
	height: 25px;
	border-radius: 100%;
	background-color: #fff9e8;
	font-size: 15px;
	cursor: pointer;
	z-index: 3;
}
.image5-swiper-button-next {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 25px;
	height: 25px;
	border-radius: 100%;
	background-color: #fff9e8;
	font-size: 15px;
	cursor: pointer;
	z-index: 3;
}

/* Meeting time modal carousel navigation */
.image6-swiper-button-prev {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 25px;
	height: 25px;
	border-radius: 100%;
	background-color: #fff9e8;
	font-size: 15px;
	cursor: pointer;
	z-index: 3;
}
.image6-swiper-button-next {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 25px;
	height: 25px;
	border-radius: 100%;
	background-color: #fff9e8;
	font-size: 15px;
	cursor: pointer;
	z-index: 3;
}

/* Mobile Nav */
.navMobile {
	right: -300px;
	opacity: 0.9;
	position: fixed;
	top: 0px;
	z-index: 20;
	height: 100%;
	width: 300px;
	max-width: 100vw;
	color: white;
	background-color: #003963;
	padding: 2.5rem;
	transition-delay: 350ms;
	transition-duration: 450ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navMobile.active {
	right: 0px;
	opacity: 1;
	top: 0px;
	z-index: 20;
	height: 100%;
	width: 500px;
	transition-delay: 350ms;
	transition-duration: 450ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navMobileActive button,
.navMobile button {
	background: none;
	box-shadow: none;
	border: none;
	color: white;
}

.navMobileMenu {
	display: flex;
	position: relative;
	height: 100%;
	padding: 150px 20px;
	font-size: 1.2rem;
}

.navMobileMenu ul {
	list-style: none;
}

.navMobileMenu ul li {
	margin-bottom: 25px;
}
