@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;500;600;700;800;900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* font-family: 'Lexend', sans-serif;
font-family: 'PT Sans', sans-serif; */

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	/* outline: 1px solid red; */
}

/* Number input in Profile's Page */
#number_input_container {
  position: relative;
}

#number_input_container > input {
  padding-left: 4.5em;
}
/*  */


/* Remove up and down arrows in form input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
/*  */

/* Styling the horizontal scroller */
body::-webkit-scrollbar {
  width: 0.5em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #14df96;
  outline: 1px solid #6a6a6a;
}
/*  */

html,
body {
	overflow-x: hidden;
	font-family: 'Lexend', sans-serif;
}

body {
	color: black;
	background-color: white;
}

a {
	color: inherit;
	text-decoration: none;
}

/* Pagination style for testimonial page */
.image3-swiper-pagination {
	cursor: pointer;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-left: 0px;
	color: white;
	font-size: 2px;
	background-color: transparent;
	font-size: 15px;
}
.swiper-pagination-bullet {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	margin-left: 10px;
	font-size: 15px;
	color: transparent;
	width: 15px;
	height: 15px;
	background-color: #c9c8c8;
}
.swiper-pagination-bullet-active {
	color: transparent;
	width: 15px;
	height: 15px;
	border-radius: 100%;
	font-size: 15px;
	background-color: #717171;
}

/* background: conic-gradient(
		from 180deg at 50% 50%,
		#14df96 0deg,
		#003963 0.04deg,
		#11bb7d 360deg
	); */

.Primary-Button {
	background-color: #000000;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: white;
	padding: 15px 45px;
	position: relative;
	border: 0;
	z-index: 5;
	font-family: 'Lexend', 'Sans Serif';
	font-size: 0.85rem;
	font-weight: 400;
}

.Primary-Button::before {
	position: absolute;
	content: '';
	bottom: 0;
	left: 0;
	background: #808080;
	height: 5px;
	width: 0;
	z-index: -2;
	transition: width 0.5s ease-in-out;
}

.Primary-Button:hover::before {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	content: '';
	bottom: 0;
	left: 0;
	color: white;
	background-color: #99fae5;
	height: 5px;
	width: 100%;
	z-index: -2;
}

.Secondary-Button {
	background: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: rgb(161, 161, 161);
	padding: 15px 45px;
	position: relative;
	border: 0;
	font-family: 'Lexend', 'Sans Serif';
	font-size: 0.85rem;
	border: 3px solid rgb(161, 161, 161);
	transition: all 0.5s ease-in-out;
}

.Secondary-Button:hover {
	color: #000000;
	border-color: #000000;
}

.Secondary-Button::after {
	position: absolute;
	bottom: 0;
	left: 0;
	content: '';
	height: 5px;
	width: 0;
	z-index: 5;
	background-color: rgb(161, 161, 161);
	transition: width 0.5s ease-in-out;
}

.Secondary-Button:hover::after {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	content: '';
	color: white;
	width: 100%;
	background-color: #000000;
}

.filter-form {
	padding: 10px 40px;
	row-gap: 50;
}

.filter-form input,
select {
	padding: 5px;
}

.filter-form button {
	padding: 5px 20px;
}

.filter-form select,
button {
	margin-right: 20px;
}

.filter-form input:not(last-child) {
	margin-right: 20px;
}

.date-picker {
	padding: 5px;
	margin-right: 20px;
}
/* Auth style */
