/* Nav Bar */
.centerNav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  position: absolute;
  z-index: 1;
}

.centerNav nav {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 90vw;
  height: 70px;
  background-color: #14df96;
  border: 1px solid #6a6a6a;
  backdrop-filter: blur(10px);
  position: relative;
}
.centerNav nav img {
  width: 150px;
  margin-left: 20px;
}
.centerNav nav ul {
  display: flex;
  width: 400px;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  font-weight: 700;
  font-size: 15px;
  position: absolute;
  right: 10px;
}
.centerNav nav li {
  list-style: none;
}
.loginButton {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 140px;
  height: 40px;
  border-radius: 10px;
}
/* Mobile Nav */
@media (max-width: 700px) {
  .centerNav nav ul {
    display: none;
  }
}

/* Header */
.headerContainer {
  width: 100vw;
  height: 100vh;
  background-color: #fff9e8;
}
.headerContainer header {
  display: flex;
  align-items: center;
  margin-left: 70px;
  height: 100vh;
  position: relative;
}
.headerText h1 {
  width: 300px;
  font-size: 65px;
}
.headerText p {
  width: 400px;
  font-size: 20px;
  font-weight: 700;
  color: #505050;
}
.headerContainer header img {
  position: absolute;
  top: 0;
  right: 0px;
  height: 90vh;
}
/* Mobile Header */
@media (max-width: 700px) {
  .headerContainer {
    width: 100vw;
    height: 900px;
    background-color: #fff9e8;
    padding-bottom: 100px;
  }
  .headerContainer header img {
    display: none;
  }
  .headerContainer header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 20px;
    padding-top: 150px;
  }
  .headerText h1 {
    width: 300px;
    font-size: 35px;
  }
  .headerText p {
    padding-top: 10px;
    font-size: 15px;
    width: 340px;
  }
}

/* Search */
.searchBoxContainer {
  position: absolute;
  bottom: 20px;
}
.searchBox {
  width: 90vw;
  height: 15vh;
  background-color: white;
  color: black;
  border: 1px solid black;
}
.searchBox form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.columnInputLocation {
  display: flex;
  flex-direction: column;
}
.columnInputs {
  display: flex;
  flex-direction: column;
}
.columnInputs label {
  font-size: 20px;
  font-weight: 700;
}
.columnInputLocation {
  font-size: 20px;
  font-weight: 700;
}
.columnInputLocation input {
  border: none;
  border-bottom: 3px solid black;
  width: 100px;
  margin-top: 10px;
  font-size: 15px;
  padding-bottom: 15px;
  font-weight: 700;
  outline: none;
}
.columnInputs input {
  border: none;
  border-bottom: 3px solid black;
  width: 150px;
  margin-top: 10px;
  font-size: 15px;
  padding-bottom: 15px;
  font-weight: 700;
  outline: none;
}

.columnInputs select {
  border: none;
  border-bottom: 3px solid black;
  width: 150px;
  margin-top: 10px;
  font-size: 15px;
  padding-bottom: 15px;
  font-weight: 700;
  outline: none;
  cursor: pointer;
}
.searchBox form button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 50px;
  font-size: 15px;
  font-weight: 700;
  color: white;
  background-color: black;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
/* Mobile Search */
@media (max-width: 700px) {
  .searchBoxContainer {
    position: unset;
    padding-top: 20px;
    bottom: 0px;
  }
  .searchBox {
    width: 90vw;
    height: 500px;
  }
  .searchBox form {
    flex-direction: column;
  }
  .columnInputLocation input {
    width: 250px;
  }
  .columnInputs input {
    width: 250px;
  }
  .columnInputs select {
    width: 250px;
  }
}

/* Info Section */
.infoSectionContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 450px;
  background-color: #1e1e1e;
}

.imgAndIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  overflow: hidden;
}
.imgAndIcon img {
  width: 150px;
  object-fit: contain;
}

.infoSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.infoSection h1 {
  margin-top: 15px;
}
.infoSection p {
  margin-top: 5px;
  width: 250px;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}
/* Mobile Info Section   */
@media (max-width: 700px) {
  .infoSectionContainer {
    flex-direction: column;
    height: 950px;
  }
}

/* InfoSection Two */
.infoSectionTwoContainer {
  margin-top: 100px;
  margin-bottom: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.infoSectionTwoImage {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}
.infoSectionTwoImage img {
  width: 350px;
}
.drOwenText {
  left: -50px;
  bottom: 100px;
  position: absolute;
  color: white;
  width: 200px;
  height: 60px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  backdrop-filter: blur(2px);
}
.drOwenStars {
  right: -100px;
  bottom: 30px;
  position: absolute;
  color: #ffd75f;
  width: 130px;
  height: 40px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  backdrop-filter: blur(2px);
}

.infoSectionTwoText {
  margin-top: 50px;
}

.infoSectionTwoText h1 {
  font-size: 30px;
}
.infoSectionTwoText p {
  font-size: 20px;
  font-weight: 400;
  width: 430px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.infoSectionTwoText button {
  width: 200px;
  height: 40px;
  background-color: black;
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* Mobile Info Section Two   */
@media (max-width: 700px) {
  .infoSectionTwoContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .infoSectionTwoImage {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
  }
  .infoSectionTwoImage img {
    width: 300px;
  }
  .drOwenText {
    left: -30px;
    bottom: 70px;
    width: 150px;
    height: 60px;
  }
  .drOwenStars {
    right: -30px;
    bottom: 25px;
    width: 90px;
    height: 40px;
  }
  .infoSectionTwoText {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .infoSectionTwoText h1 {
    font-size: 25px;
  }
  .infoSectionTwoText p {
    font-size: 16px;
    width: 300px;
  }
}

/* Hospitals Near You  */
.hospitalsNearContainer {
  padding-top: 20px;
  padding-left: 120px;
  padding-top: 100px;
  height: 600px;
  background-color: #fff9e8;
  overflow-x: hidden;
}

.hospitalsNearText {
  display: flex;
  width: 90vw;
  position: relative;
}
.hospitalsNearArrBtns {
  display: flex;
  position: absolute;
  right: 50px;
  font-size: 20px;
  cursor: pointer;
}
.hospitalsNearDot {
  color: #6a6a6a;
}
.swiperContainer {
  width: 85vw;
  height: 300px;
  position: relative;
}
.hospitalsCarousel {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: absolute;
}

.hospitalsCarouselContainer {
  margin-right: 30px;
  width: 300px;
  height: 220px;
  border: none;
  border-radius: 6px;
  background-color: white;
}

.hospitalsCarouselContainer img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 6px 6px 0 0;
}
.hospitalsCarouselItem {
  width: 100%;

  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  padding-top: 10px;
}
.hospitalsCarouselItem .address {
  width: 180px;
}

.hospitalsNearViewButton {
  position: absolute;
  left: 50%;
}
.hospitalsNearViewButton button {
  background-color: black;
  width: 100px;
  height: 40px;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  margin-top: 40px;
  cursor: pointer;
}
.hospitalsNearDivider {
  left: 10%;
  position: absolute;
  width: 80%;
}

/* Trust */
.trustContainer {
  margin-top: 150px;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 400px;
}
.trustContainer h1 {
  color: #505050;
  font-size: 30px;
}
.trustLogos {
  display: flex;
}
.trustLogos img {
  width: 200px;
}
@media (max-width: 700px) {
  .trustContainer {
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 700px;
    text-align: start;
  }
  .trustContainer h1 {
    color: #505050;
    width: 300px;
    font-size: 35px;
    margin-left: 0px;
  }
  .trustLogos {
    display: grid;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
    grid-template-columns: 200px 200px;
  }
  .trustLogos img {
    width: 150px;
  }
}

/* Testimonies */

.TestimoniesContainer {
  margin-top: 100px;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.TestimoniesContainer h1 {
  font-size: 35px;
  font-weight: 700;
  color: #505050;
}
.testimoniesSwiperContainer {
  width: 80vw;
  height: 500px;
  position: relative;
  overflow: hidden;
}

.testimoniesCarousel {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  height: 300px;
}

.testimoniesCarouselItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  background-color: #003963;
  width: 80vw;
  height: 300px;
  color: white;
  border-radius: 6px;
}
.testimoniesCarouselItem h2 {
  margin-top: 30px;
  font-size: 30px;
}
.testimoniesCarouselItem p {
  width: 70%;
  padding-top: 20px;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  position: relative;
}
.testimoniesCarouselImg {
  margin-top: -120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimoniesCarouselImg img {
  width: 150px;
  border-radius: 100%;
}
/* Mobile Testimonies */
@media (max-width: 700px) {
  .TestimoniesContainer h1 {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    color: #505050;
    margin-bottom: 100px;
  }
  .testimoniesSwiperContainer {
    width: 85vw;
    height: 500px;
    position: relative;
    overflow: unset;
  }
  .testimoniesCarousel {
    height: 500px;
    margin-top: 0px;
  }
  .testimoniesCarouselItem {
    height: 500px;
  }
  .testimoniesCarouselImg {
    margin-top: 50px;
  }
  .testimoniesCarouselImg img {
    top: -35px;
    position: absolute;
  }
}
