.pageContainer {
	padding-top: 80px;
	display: grid;
	grid-template-columns: auto auto;
}

.hr {
	margin-top: 2em;
	margin-bottom: 3em;
}

.bottom_section {
	display: flex;
	flex-direction: column;
}

.features {
	position: fixed;
	background-color: #f4f9ff;
	height: 90vh;
	width: 30vw;
	/* padding-top: 2em;
    padding-left: 1em; */
}

.features p {
	padding-top: 2em;
	padding-left: 2em;
	padding-bottom: 1em;
	display: flex;
	cursor: pointer;
}

.features p:hover {
	background-color: #003963;
	color: white;
}

.features > p > span {
	padding-left: 0.5em;
}

.details_section {
	margin-left: 30vw;
	padding-top: 1em;
	padding-left: 2em;
	padding-right: 2em;
	width: 70vw;
}

.details_container {
	display: grid;
	grid-template-columns: 15em auto;
}

.imgContainer {
	height: clamp(8em, 10vw, 11em);
	background-color: #d9d9d9;
	width: 13em;
	position: relative;
}

.imgContainer > svg {
	background-color: #003963;
	border-radius: 50%;
	fill: white;
	padding-top: 0.8em;
	padding-right: 0.5em;
	padding-left: 0.5em;
	padding-bottom: 0.9em;
	/* padding: 0.7em; */
	width: 2.5em;
	height: 2.5em;
	position: absolute;
	bottom: -1em;
	right: -0.8em;
}

.input_item {
	display: flex;
	flex-direction: column;
    position: relative;
}

.input_item > input {
	width: 100%;
	padding: 0.4em 1em 0.4em 1em;
	margin-bottom: 2em;
	border: 1px solid rgb(180, 179, 179);
}

.input_item > input:focus {
	outline: none;
	border: 1px solid black;
	/* border: 4px solid red; */
}

.input_item > select {
	padding: 0.4em 1em 0.4em 1em;
}

.input_item > label {
	padding-bottom: 0.5em;
}

.numberText {
	position: absolute;
	color: black;
	bottom: 2em;
	margin-left: 0.5em;
	border-right: 1px solid black;
	padding-right: 0.6em;
}

.textarea {
	padding: 1em 1em 1em 1em;
	height: 10em;
	resize: none;
	width: 100%;
	margin-top: 1em;
	border-color: rgb(180, 179, 179);
}

.textarea:focus {
	outline: none;
	border-color: black;
}

.button {
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	margin-bottom: 2em;
	padding: 0.5em 3em 0.5em 3em;
	color: white;
	background-color: black;
	border: none;
	border-radius: 3px;
	transition: 0.4s;
}

.button:hover {
	border: 1px solid black;
	background-color: white;
	color: black;
}

.two_input_divs {
	display: grid;
	grid-template-columns: auto auto;
	gap: 2em;
}

.bottom_section > div {
	margin-bottom: 2em;
}

@media (max-width: 950px) {
	.pageContainer {
		padding-top: 70px;
		display: flex;
		flex-direction: column;
	}

	.features {
		position: unset;
		height: unset;
		width: 100%;
	}

	.details_section {
		margin-left: unset;
		padding-top: 1em;
		padding-left: 2em;
		padding-right: 2em;
		width: 100vw;
	}
}

@media (max-width: 720px) {
	.details_container {
		display: flex;
		flex-direction: column;
	}
	.imgContainer {
		margin-bottom: 1.5em;
		width: 10em;
	}
}
